{% extends "blocks/_block-base.twig" %} {% block contentBlock %}
<div class="resources {{ class }}">
	<div class="wrapper">
		<h3 class="font32 black uppercase no-margin resources__title">
			{{ block.title | e('esc_html')}}
		</h3>

		<div class="resources__subtitle">{{ block.subtitle | e('esc_html')}}</div>
		<div class="resources__slider">
			{% for item in block.resources %}
			<div class="featured-services__item">
				<a class="dark-green" href="{{ item.link }}">
					<div
						class="featured-services__item--wrap"
						style="background:url({{ TimberImage(item.resources_background) | e('esc_url')}}) no-repeat left top/cover;"
					>
						<div class="featured-services__item--overlay"></div>
						<div class="featured-services__item--content">
							<h3 class="featured-services__item--title blod uppercase">
								{{ item.title }}
							</h3>
							<a href="{{ item.link }}" class="button button--blue">Download</a>
						</div>
						<img src="{{ theme.path }}/assets/img/dl-icon.svg" alt="" />
					</div>
				</a>
			</div>

			{% endfor %}
		</div>
		{% if block.link %}
		<a
			class="featured-services__link"
			href="{{ block.link['url'] | e('esc_url')}}"
			><img
				src="{{ theme.path }}/assets/img/arrow-right-round-blue.svg"
				alt=""
			/>{{ block.link['title'] | e('wp_kses_post')}}</a
		>

		{% endif %}
	</div>
</div>
{% endblock %}
