{% extends "base.twig" %} {% block content %}

<div class="wrapper">
	{% set result = posts | length > 1 ? 'Results' : 'Result' %}
	<h1 class="font42 light-pink text-center">
		{{ posts | length }}
		{{ result }}
		for '{{ fn('the_search_query') }}'
	</h1>
	<div class="search__search">
		{% include "partial/searchform.twig" %}
	</div>
	{% for post in posts %}
	<article>
		{% set postType = post.post_type %} {% set badge = postType == 'post'? 'the
		lab' : postType == 'service'? 'services' : 'page' %} {% set badgeClass =
		postType == 'post'? 'blue-badge': '' %} {% set excerpt = postType ==
		'service' ? post.post_excerpt : post.content | excerpt(30) %}
		<div class="post">
			<div class="post__header">
				<h2>
					<a class="light-pink" href="{{ post.link }}">{{ post.title }}</a>
				</h2>
				<div class="post__badge uppercase bold {{ badgeClass }}">
					{{ badge }}
				</div>
			</div>
			<div class="post__excerpt">
				{{ excerpt }}
			</div>
		</div>
	</article>
	{% endfor %}

	{% include "partial/featured-services-option.twig" %}
</div>

{% endblock %}
