{% extends "tease.twig" %}
{% block content %}
    {% if post.get_thumbnail %}

        <div class="tease-post__media">
            <a href="{{ post.link }}">
                {% include "partial/badge.twig" %}
                <img src="{{post.thumbnail.src | resize(500, 312)}}"/>
            {% endif %}
        </a>
    </div>

    <div class="tease-post__content">
        {% set cat = post.categories[0] %}
        <div class="tease-post__content--top">
            <h4 class="tease-post__cat bold uppercase no-margin">
                <a href="/categories/{{ cat.slug }}">{{ cat.name  | e('esc_html')}}</a>
                {# TODO: set the right cat link #}
            </h4>
            <h3 class="tease-post__title h3-font32 bold no-margin">
                <a href="{{ post.link }}">{{ post.title }}</a>
            </h3>
        </div>
        <div class="tease-post__content--bottom">
            {% include "partial/read-more.twig" %}
            {% if fn('is_home') %}
                {% include "partial/post-meta.twig" %}
            {% endif %}

        </div>
    </div>

{% endblock %}
