<div class="author-intro">
    <div class="wrapper">
        <div class="author-intro__avatar">
            <img src="{{author_avatar}}" alt="avatar for {{author}}">
        </div>
        <div class="author-intro__content">
            <h2 class="black">{{ author }}</h2>
            <div class="auhtor-intro__position">
                {{ author_position }}
            </div>
            <div class="auhtor-intro__bio">
                {{ fn('the_author_description') }}
            </div>
            <div class="auhtor-intro__social">
                <div class="auhtor-intro__social-item">
                    <a href="{{author_fb}}">
                        <img src="{{theme.path}}/assets/img/fb.svg" alt="">
                    </a>
                </div>
                <div class="auhtor-intro__social-item">
                    <a href="{{author_linkedin}}">
                        <img src="{{theme.path}}/assets/img/linkedin.svg" alt="">
                    </a>
                </div>
                <div class="auhtor-intro__social-item">
                    <a href="{{author_twitter}}">
                        <img src="{{theme.path}}/assets/img/twitter.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
