{% set customButton = post.custom_button %}
{% set text = customButton ? customButton['title'] : 'become a client' %}
{% set iconChoice = post.custom_button_icon == 'star' ? 'star-icon' : post.custom_button_icon == 'thumb'? 'thumb-icon': 'arrow-icon' %}


{% set colorChoice = post.custom_button_color == 'dark' ? 'dark' : post.custom_button_color == 'blue'? 'blue': 'salmon' %}

{% set icon = customButton ? iconChoice : 'star-icon' %}
{% set color = customButton ? colorChoice : 'blue' %}

{% set link = customButton ? customButton['url'] : '/become-a-client' %}
<a href="{{ link }}" class="button button--{{color}}">{{text}}
    <img src="{{ theme.path }}/assets/img/{{icon}}.svg" alt=""/></a>

{# TODO:fix icons and colors #}
