<div class="wrapper">
    {% if posts.pagination.pages is not empty %}
        <nav class="pagination-block">
            <ul class="pagination">

                {% for page in pagination.pages %}
                    {% if page.link %}
                        <li class="bold">
                            <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                        </li>
                    {% else %}
                        <li class="current bold">
                            <span class="{{ page.class }}">{{ page.title }}</span>
                        </li>
                    {% endif %}
                {% endfor %}


                {% if pagination.pages|last and pagination.pages|last.current != true %}
                    <li class="last bold">
                        <a href="{{ pagination.pages|last.link }}">Last</a>
                    </li>
                {% else %}
                    <li class="last bold disabled">
                        Last
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

</div>